html, body {
    height: 100%;
}

.alert {
    padding: 7px;
}

.row {
    display: table;
    margin-left: 0;
    margin-right: 0;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
    padding-left: 2px;
    padding-right: 2px;
}

.landscape-mode-warning > img {
    display: none;
}

.center-black-text {
    color: black;
    text-align: center;
}

.center-white-text {
    color: white;
    text-align: center;
}

a .fa {
    color: black;
}

a .fa:hover {
    color: beige;
    cursor: pointer;
}

.timeline-holder {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
}

.timeline {
    display: table-cell;
    text-align: center;
}

.timeline {
    width: 70px;
}

.timeline > .fa {
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: 5px auto;

    height: 60px;
    width: 60px;
    padding-top: 15px;
}

.timeline > p {
    color: black;
    text-align: center;
    font-size: 14px;
}

.sub-skill > p:hover, .timeline > .fa:hover {
    color: #0789ed;
    border: 1px solid #0789ed;
    cursor: pointer;
}

.item-selected > p {
    color: yellow !important;
}

.item-selected > .fa, .sub-skill.item-selected > p {
    color: yellow !important;
    border: 1px solid yellow !important;
}

.timeline-separator {
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
    width: 10px;
    height: 10px;
    margin-top: 30px;
}

.skillset > p {
    font-size: 22px;
    color: white;
    text-align: center;
    border-radius: 15px;
    border: 2px solid rgb(49, 78, 115);
    background-color: rgba(38, 96, 170, 0.9);
    width: 200px;
    height: 200px;
    vertical-align: middle;
    display: table-cell;
    font-weight: bold;
}

.sub-skill {
    display: inline-block;
}

.sub-skill > p {
    color: white;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 95px;
    height: 95px;
    vertical-align: middle;
    display: table-cell;
}

.social-network-links {
    padding: 10px;
    text-align: center;
}

.social-network-links > a {
    margin-right: 15px;
}

.dark-page {
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(left, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0.25) 50%);
    padding-bottom: 20px;
}

.dark-page-alt {
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(left, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.08) 50%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.08) 50%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.08) 50%);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.08) 50%);
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.08) 50%);
    padding-bottom: 20px;
}

.experience-column-holder {
    height: 500px;
}

.mainpage-holder {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(108, 167, 171, 0.6);
    background-image: -moz-radial-gradient(center center, circle closest-side, rgb(154, 215, 220), #0789ed 2000px);
    background-image: -webkit-radial-gradient(center center, circle closest-side, rgb(154, 215, 220), #0789ed 2000px);
    background-image: -o-radial-gradient(center center, circle closest-side, rgb(154, 215, 220), #0789ed 2000px);
    background-image: -ms-radial-gradient(center center, circle closest-side, rgb(154, 215, 220), #0789ed 2000px);
    background-image: radial-gradient(center center, circle closest-side, rgb(154, 215, 220), #0789ed 2000px);
}

.mainpage-background {
    background-image: url("../img/background_circles.png");
}

.website-title-holder {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.title, .contract-me-form {
    display: block;
    margin: auto;
}

.contract-me-form {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    text-align: center;
}

.contract-me-form > .form-control {
    margin-bottom: 20px;
}

.title-holder {
    padding: 20px;
}

.experience-holder-container {
    min-height: 350px;
}

.experience-holder-div {
    display: table;
    width: 100%;
}

.experience-holder {
    width: 100%;
    height: 250px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    display: table-cell;
    vertical-align: top;
}

.experience-holder > li, .experience-component-title-holder > h3, .experience-component-title-holder > h4, .experience-holder > ul > li {
    color: white;
}

.experience-holder li {
    margin: 1rem 0;
}

.experience-holder > ul {
    padding-top: 15px;
}

.experience-holder > ul > li:nth-child(even) {
    font-weight: bold;
}

.skill-set-info-holder {
    width: 100%;
    height: 150px;
    display: table;
}

.skill-set-info {
    padding: 10px;
    border: 3px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.skill-set-info > ul > li, .skill-set-info > h4 {
    color: white;
}

.skill-set-info > ul > li {
    text-align: left;
}

.skill-set-border {
    border-bottom: 1px solid rgba(252, 247, 255, 0.8);
    padding-bottom: 20px;
}

.skill-set-holder {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
}

.zoom {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.hidden {
    display: none;
}

.rotation {
    -webkit-animation: rotation 2s infinite linear;
}

.project {
    margin: 0 auto;
    display: table;
}

.project-logo {
    display: table-cell;
}

.project-description {
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.show-case-landing img {
    width: 100%;
    border: 2px solid black;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.23);
    border-radius: 5px;
}

.iframe-container {
    position: relative;
    width: 90%;
    padding-bottom: 400px;
    max-width: 900px;
    height: 0;
    margin: 1rem auto;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 400px;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}