@media screen and (max-device-width: 760px) and (min-aspect-ratio: 13/9)  {
    .landscape-mode-warning {
        height: 130%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;

        z-index: 977;
        background-color: rgba(20, 20, 20, 0.8)
    }
    .landscape-mode-warning > img {
        top: 50%;
        left: 50%;
        position: fixed;
        margin-left: -75px;
        margin-top: -75px;
        display: block;
    }
}


/* Extra Small Screens */
@media screen and (min-width: 0px) and (max-width: 576px) {
    .logo {
        zoom: 0.25;
    }

    .title-holder {
        zoom: 0.7;
    }

    p, li {
        font-size: 11px;
    }

    h3 {
        font-size: 13px;
    }

    h4 {
        font-size: 12px;
    }

    ul {
        padding-left: 20px;
    }

    .main-title {
        zoom: 0.4;
        margin-left: -325px;
        margin-top: 130px;
    }

    .skillset > p {
        width: 63px;
        height: 63px;
        font-size: 10px;
    }

    .sub-skill > p {
        width: 45px;
        height: 45px;
        font-size: 9px;
    }

    .timeline {
        width: 40px;
    }

    .timeline > .fa {
        height: 30px;
        width: 30px;
        font-size: 14px;
        padding-top: 7px;
    }

    .timeline > p {
        font-size: 8px;
    }

    .project-description li {
        font-size: 10px;
    }
}

/* Small Screens */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .logo {
        zoom: 0.45;
    }

    .title-holder {
        zoom: 0.8;
    }

    p, li {
        font-size: 12px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    .main-title {
        zoom: 0.7;
        margin-left: -325px;
        margin-top: 130px;
    }

    .skillset > p {
        width: 100px;
        height: 100px;
        font-size: 14px;
    }

    .sub-skill > p {
        width: 60px;
        height: 60px;
        font-size: 11px;
    }

    .timeline > p {
        font-size: 12px;
    }

    .project-description li {
        font-size: 10px;
    }
}

/* Medium Screens */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .logo {
        zoom: 0.5;
    }

    .main-title {
        zoom: 0.65;
        margin-left: -325px;
        margin-top: 160px;
    }

    .skillset > p {
        width: 130px;
        height: 130px;
        font-size: 14px;
    }

    .sub-skill > p {
        width: 80px;
        height: 80px;
        font-size: 12px;
    }

    .project-description li {
        font-size: 11px;
    }
}

/* Large Screens */
@media screen and (min-width: 1200px) and (max-width: 1700px) {
    .logo {
        zoom: 0.6;
    }

    .main-title {
        zoom: 0.65;
        margin-left: -325px;
        margin-top: 190px;
    }

    .skillset > p {
        width: 110px;
        height: 110px;
        font-size: 14px;
    }

    .sub-skill > p {
        width: 70px;
        height: 70px;
        font-size: 12px;
    }

    .project-description li {
        font-size: 11px;
    }
}

/* Super Large Screens */
@media screen and (min-width: 1700px) {
    .logo {
        zoom: 0.7;
    }

    .main-title {
        zoom: 0.8;
        margin-left: -325px;
        margin-top: 190px;
    }
}